@model List<WeightMeasurement.Models.HomeSubUserModel>

@{var isAdmin = (await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded; }

@foreach (var su in Model)
{

    <div class="row" style="margin-bottom:5px;border-bottom:1px solid rgba(0,0,0,.1);">
        <div class="col-6">
            @su.Name @su.Age
            @if (isAdmin)
            {
                <br/>
                @su.Email
            }
        </div>

        <div class="col-6">
            <span class="float-right">
                <button class="weight-add btn btn-outline-primary btn-sm" data-subuser-id="@su.Id"><i class="fas fa-plus"></i></button>
                <button class="graph-open btn btn-outline-success btn-sm" data-subuser-id="@su.Id"><i class="fas fa-chart-area"></i></button>
                <button class="subuser-edit btn btn-info btn-sm" data-id="@su.Id"><i class="fas fa-edit"></i></button>
                <button class="subuser-delete btn btn-danger btn-sm" data-id="@su.Id" data-name="@su.Name"><i class="fas fa-trash-alt"></i></button>
            </span>
        </div>
    </div>
}
