@model List<WeightMeasurement.Models.HomeSubUserModel>

@{var isAdmin = (await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded; }

@foreach (var su in Model)
{

    <div class="row" style="margin-bottom:5px;border-bottom:1px solid rgba(0,0,0,.1);">
        <div class="col-6">
            @su.Name @su.Age
        </div>

        <div class="col-6">
            <span class="float-right">        
                <button class="weight-view btn btn-outline-info btn-sm" data-subuser-id="@su.Id" data-toggle="tooltip" data-placement="top" title="View Weight Entries"><i class="fas fa-table"></i></button>
                <button class="graph-open btn btn-outline-success btn-sm" data-subuser-id="@su.Id" data-toggle="tooltip" data-placement="top" title="View Weight Graph"><i class="fas fa-chart-area"></i></button>
                <button class="subuser-edit btn btn-info btn-sm" data-id="@su.Id" data-toggle="tooltip" data-placement="top" title="Edit SubUser"><i class="fas fa-edit"></i></button>
                <button class="subuser-delete btn btn-danger btn-sm" data-id="@su.Id" data-name="@su.Name" data-toggle="tooltip" data-placement="top" title="Delete SubUser"><i class="fas fa-trash-alt"></i></button>
            </span>
        </div>
    </div>
}
