@model List<WeightMeasurement.Models.HomeWeightModel>

@{ var isAdmin = (await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded; }

<h5>
    Weights <small>for @TempData["name"]</small>
            <span class=float-right>
                <button id="weight-add" class="btn btn-outline-primary btn-sm" data-subuser-id="@(TempData["subUserId"])" data-toggle="tooltip" data-placement="top" title="Add Weight Entry"><i class="fas fa-plus"></i> Add Weight Entry</button>
            </span>
</h5>
<hr>

<table id="weights-table" class="table table-striped" style="width: 100%;">
    <thead>
        <tr>
            <th>Weight</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var su in Model)
        {
            <tr>
                <td>@su.Weight</td>
                <td>@su.Date</td>
                <td>
                    <span class="float-right">
                        <button class="weight-edit btn btn-info btn-sm" data-id="@su.Id" data-subuser-id="@su.SubUserId"><i class="fas fa-edit"></i></button>
                        <button class="weight-delete btn btn-danger btn-sm" data-id="@su.Id" data-name="@su.Name"><i class="fas fa-trash-alt"></i></button>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var subUserId = @(TempData["subUserId"]);
</script>