@model WeightMeasurement.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*@if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
    {
        <p>This paragraph is displayed because you fulfilled PolicyName.</p>
    }*@

<button id="subuser-add" class="btn btn-primary"><i class="fas fa-plus"></i> Add SubUser </button>

@foreach (var su in Model.SubUsers)
{
    <div>@su.Name @su.Age</div>

    <button class="subuser-edit btn btn-primary" data-id="@su.Id"><i class="fas fa-edit"></i></button>
    <button class="subuser-delete btn btn-primary" data-id="@su.Id" data-name="@su.Name"><i class="fas fa-trash-alt"></i></button>

}


@section Scripts{

    <script type="text/javascript" src="~/js/home.js" asp-append-version="true"></script>

}

